<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1065369794962-b9aiqs64dhlbim4lrr5gdeu8cp0vd311.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1065369794962-b9aiqs64dhlbim4lrr5gdeu8cp0vd311</string>
	<key>API_KEY</key>
	<string>AIzaSyAIIHW4E6nWURhFt33rmkwW7kOlo6zMO54</string>
	<key>GCM_SENDER_ID</key>
	<string>1065369794962</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.leocoesta.chat</string>
	<key>PROJECT_ID</key>
	<string>friendlyeats-e0690</string>
	<key>STORAGE_BUCKET</key>
	<string>friendlyeats-e0690.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1065369794962:ios:8de764af322538b617e94b</string>
	<key>DATABASE_URL</key>
	<string>https://friendlyeats-e0690.firebaseio.com</string>
</dict>
</plist>